@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Custom styles */
.chart-container {
  height: 400px;
}

/* Animation for loading spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}